.parent {
    display: grid;
    grid-template-columns: repeat(13, 1fr); 
    grid-template-rows: repeat(11, 1fr);
    gap: 3px;
    height: 100vh;
}

#div1 {
    background-color:  #e16155 ;
    grid-column:  1/ 14;
    grid-row: 1 / 2;
    text-align: center;
    border: 2px solid black;
    color: white;
    font-weight: bolder ;
    font-size: large;
  }

#div2 {
    background-color:  #de6256 ;
    grid-column: 1 / 4;
    grid-row: 2/ 4;
    overflow: auto;
    text-align: center;
    border: 2px solid black;
    color: white;
    font-weight: bold ;

}

#div3 {
    background-color:  #e06f65 ;
    grid-column: 4 / 7;
    grid-row: 2 / 4;
    overflow: auto;
    text-align: center;
    border: 2px solid black;
    color: white;
    font-weight: bold ;
}

#div4 {
    background-color: #c70a0a ;
    grid-column: 7 / 14;
    grid-row: 2 / 6;
    border: 2px solid black;
}

#div5 {

    background-color: #48BEFF ;
    grid-column: 1 / 7;
    grid-row: 4 / 10;
    border: 2px solid black;
    
}
#img1{

    height: 100%;
    width: 100%;
}

#div6 {
    background-color: #41ADE8 ;
    grid-column: 7 / 10;
    grid-row: 6 / 10;
    border: 2px solid black;
}

#div7 {
    background-color: #43C59E ;
    grid-column: 10 / 14;
    grid-row: 6 / 8;
    border: 2px solid black;
}

#div8 {
    background-color: #4E736E;
    grid-column: 12 / 14;
    grid-row: 8 / 10;
    border: 2px solid black;
}

#div9 {
    background-color: #5E807B;
    grid-column: 10 / 11;
    grid-row: 8 / 9;
    border: 2px solid black;
}

#div10 {
    background-color: #6D8C87;
    grid-column: 11 / 12;
    grid-row: 8 / 9;
    border: 2px solid black;
}

#div11 {
    background-color: #6D8C87;
    grid-column: 10 / 11;
    grid-row: 9 / 10;
    border: 2px solid black;
}

#div12 {
    background-color: #86A09C;
    grid-column: 11 / 12;
    grid-row: 9 / 10;
    border: 2px solid black;
}

#div13 {
    background-color:  #f76c5e;
    grid-column: 1 / 7;
    grid-row: 10 / 12;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border: 2px solid black;
    color: white;
    font-weight: bold ;
}

#div14 {
    background-color: #f17b70;
    grid-column: 7 / 14;
    grid-row: 10 / 12;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border: 2px solid black;
    color: white;
    font-weight: bold ;
}
#img2 {
    width: 100%;
    height: 100%;
}

#img3 {
    width: 100%;
    height: 100%;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}


nav ul li.dropdown {
    position: relative;
}

nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block; 
}

nav ul li.dropdown .dropdown-content li {
    display: block;
    padding: 10px;
}

nav ul li.dropdown .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li.dropdown .dropdown-content li a:hover {
    background-color: #555;
}